*{
    margin: 0;
    padding: 0;
}
/*--NavigationBar--*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand{
    height: 50px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
color: #9e1030ff!important;
}
.navbar{
    background-color: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*---Slider Section----*/
#slider img{
    width: 100%;
    height: 800px;

}
.carousel-caption{
    top: 60%;
    margin-left: 10%;
}
.carousel-caption h3{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}
.slider{
    width: 100%;
    height: 500px;
}
/*---About Us-----*/
.aboutusbox{
    background: rgb(67, 212, 248);
    display: flex;
    min-height: 450px;
    max-height: 2500px;

}
.aboutusleft{
    flex-basis: 70%;
    padding: 40px 60;
    background-color: #fff;
    
}
.aboutusright{
    flex-basis: 30%;
    padding: 40px;
    background-color: #9e1030;
    min-height: 450px;
    max-height: 2500px;

}
.aboutusleft .aboutheader{
    color: #555;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;
}
.aboutusleft .aboutparagraph{
    font-size: 18px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 300px;
    text-align: justify
}
.aboutusright img{
    height: 400px;
    width: 500px;
    margin-left: -250px;
    padding-top: 50px;
    padding-bottom: 40px;
    min-height: 200px;
    min-width: 370px;
}
/*----Products Section-----*/
.products{
    background: #12222d;
    padding: 100px;
    text-align: center;
}
.products .container3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.products .container3 .Productbox{
    position: relative; 
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: #fff;
}
.heading{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
}
.products .container3 .Productbox img{
    width: 350px;
    height: 300px;
    object-fit: cover!important;
}
.products .container3 .Productbox h2{
    color: #fff;
    padding-top: 20px;
}
.products .container3 .Productbox p{
    color: #fff;
    font-size: 30px;
}
.products button{
    margin-top: 50px!important;
    margin-bottom: 30px;
    size: 50px!important;
    font-size: 20px;
}

/*---Our Clients-----*/
.clients{
    background-color: rgba(35, 145, 145, 0.555);
    padding: 70px;
    text-align: center;
}
.clients .imagebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.clients .imagebox img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}
.clients .imagebox img:hover{
    opacity: 1;
}
.heading{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.text{
    font-size: 20px;
}
/*---Testimonials----*/
.testimonials{
    padding: 80px;
    text-align: center;
    min-height: 500px;
    max-height: 2500px;
    color: #9e1030;
    background: linear-gradient(-50deg, rgb(184, 157, 157), #9e1030, rgb(58, 49, 49));
}
.testimonials .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    
}
.testimonials .container .contentbox{
    background: #fff;
    padding: 60px 50px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
/*---contact Section----*/
#contact{
    background: #efefef;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 10px;
    margin-left: 30px;
    margin-top: 5px;
}
.form-control{
    width: 100%!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    border-radius: 0!important;
    border: none!important;
}
.placeholder{
    color: #999;
    padding-top: 20px;
}
.contactheader{
    padding-top:10px;
    padding-left: 80px;
    font-size: 50px;
    font-weight: 600;
    color: #555;
    text-align: center;
}
.contactparagraph{
    color: #555;
    font-size: 30px;
    padding-left: 40px;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
    padding-right: 40px;
}
.footersection{
    background: #333;
    color: #fff;
    height: 60px;
}

.footerparagraph{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}